.bigbutton {
  margin: 10% 0% 0% 0%;
  font-size: xx-large;
  width: 300px;
  height: 200px;
  box-shadow: 10px 10px 5px lightblue;
  border-radius: 10px;
  opacity: 0.7;
}

.bigbutton:hover {
  box-shadow: 10px 10px 5px grey;
  background-color: white;
  color: blue;
  border: blue 2px solid;
  transform: scale(1.1);
}

.icons {
  transform: scale(2);
}

.cont {
  text-align: center;
}
